.tj-topbar{
    @apply flex content-between bg-teal-400 rounded-t py-5 px-5;
    &_heading{
        @apply text-2xl;
    }
    &_link{
        @apply text-teal-700 font-bold pt-1;

        &:hover{
            @apply text-white;
        }

    }
}

.tj-footer{
    @apply bg-teal-400 rounded-b py-5 px-5 mb-4;
    &_heading{
        @apply text-2xl flex-1;
    }
    &_link{
        @apply text-teal-700 font-bold pt-1;

        &:hover{
            @apply text-white;
        }

    }
}

