.theme-admin {
    --primary-100: #e6fffa;
    --primary-200: #b2f5ea;
    --primary-300: #81e6d9;
    --primary-400: #4fd1c5;
    --primary-500: #38b2ac;
    --primary-600: #319795;
    --primary-700: #2c7a7b;
    --primary-800: #285e61;
    --primary-900: #234e52;
}
