.theme-default {
    --primary-100: #fffaf0;
    --primary-200: #feebc8;
    --primary-300: #fbd38d;
    --primary-400: #f6ad55;
    --primary-500: #ed8936;
    --primary-600: #dd6b20;
    --primary-700: #c05621;
    --primary-800: #9c4221;
    --primary-900: #7b341e;
}

//.theme-default{
//    --primary-100: #fff5f7;
//    --primary-200: #fed7e2;
//    --primary-300: #fbb6ce;
//    --primary-400: #f687b3;
//    --primary-500: #ed64a6;
//    --primary-600: #d53f8c;
//    --primary-700: #b83280;
//    --primary-800: #97266d;
//    --primary-900: #702459;
//}
